/******************* other *******************/
#answerImage img {
  width: 200px;
  height: 200px;
}

.height {
	height: 250px;
	margin-bottom: 60px;
}

.text {
  color: #428bca;
  font-size: 24px;
  font-weight: bolder;
}

.unfloat {
	clear: both;
}


/******************* Bootstrap button classes *******************/
.btn-primary.raised {
	box-shadow: 0 3px 0 0 #007299;
}
